@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Regular.ttf");
  font-weight: 400;
}
h1 {
  font-family: "Merriweather";
  color: #FFBF00;
  cursor: pointer;
}

h2 {
  font-family: "Merriweather";
}

p {
  font-family: "Roboto";
  font-size: 1.25rem;
}

span {
  font-family: "Roboto";
  font-size: 1.15rem;
}

.button {
  font-family: "Roboto";
  font-weight: 600;
}

@media (max-width: 480px) {
  p {
    font-size: 1rem;
  }
}
html {
  scrollbar-width: none;
  background: url("../assets/images/polygon.svg");
  background-size: cover;
  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

.sr-only {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.button {
  border: none;
  border-radius: 15px;
  padding: 0.5rem 0;
  margin: 1rem 0.5rem;
  text-transform: uppercase;
}

.navIcon {
  width: 30px;
  height: 30px;
  -webkit-filter: invert(100%) sepia(0%) saturate(3410%) hue-rotate(170deg) brightness(113%) contrast(90%);
          filter: invert(100%) sepia(0%) saturate(3410%) hue-rotate(170deg) brightness(113%) contrast(90%);
}

.backButton {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-filter: invert(100%) sepia(0%) saturate(3410%) hue-rotate(170deg) brightness(113%) contrast(90%);
          filter: invert(100%) sepia(0%) saturate(3410%) hue-rotate(170deg) brightness(113%) contrast(90%);
}

.App {
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App-body {
  height: 80vh;
  padding: 0;
  margin: 0;
  overflow: scroll;
  color: white;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

a {
  text-decoration: none;
}

.positive {
  color: #5cb85c;
}

.negative {
  color: #D9534F;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.fittedCard {
  width: 90%;
  max-width: 700px;
  min-height: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px auto;
  background-color: rgba(255, 191, 0, 0.9);
  color: #2b2b2b;
  border-radius: 15px;
  padding: 15px 35px;
}

.accent {
  color: #FFBF00;
}

.bgAccent {
  background-color: #FFBF00;
}

.bgPositive {
  background-color: #5cb85c;
}

.bgNegative {
  background-color: #D9534F;
}

.registerLink {
  font-weight: 700;
}

.posY {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar-header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(27, 27, 27)), to(rgba(27, 27, 27, 0.2)));
  background: linear-gradient(180deg, rgb(27, 27, 27) 0%, rgba(27, 27, 27, 0.2) 100%);
  height: 10vh;
  max-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navbar {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.Navbar-loginButton {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #f2f2f2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 27, 27, 0.2)), to(rgb(27, 27, 27)));
  background: linear-gradient(180deg, rgba(27, 27, 27, 0.2) 0%, rgb(27, 27, 27) 100%);
  height: 10vh;
  margin: 0;
  max-height: 100px;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.Footer a {
  color: #FFBF00;
  text-decoration: none;
}

.Footer-secondLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.logoCoinGecko {
  height: 3rem;
}

@media (max-width: 720px) {
  .Footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 480px) {
  .logoCoinGecko {
    height: 1.5rem;
  }
}
.formCard {
  border-radius: 15px;
  -webkit-box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 500px;
  min-height: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #2b2b2b;
  margin: 50px auto;
  padding: 20px;
}

.formInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.formInput {
  width: 80%;
  border-radius: 15px;
  padding: 0.5rem;
}

.formButton {
  width: 100px;
  border-radius: 15px;
  padding: 0.5rem 0;
}

.formImage {
  width: 150px;
}
.formImage img {
  width: 150px;
  height: 150px;
}

@media (max-width: 480px) {
  .formImage {
    width: 75px;
  }
  .formImage img {
    width: 75px;
    height: 75px;
  }
}
.CoinList-container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Coin-card {
  padding: 20px 0;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Coin-coinName {
  font-size: 1.5rem;
  font-weight: 500;
}

.Coin-coinPrice {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Coin-card img {
  width: 100%;
}

.Coin-coinImg {
  height: 100px;
  width: 100px;
}

.Coin-timePeriod {
  width: 40%;
  text-align: left;
}

.Coin-na {
  padding-left: 10px;
}

.Coin-coinPriceAmt {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Coin-arrow {
  height: 20px;
  width: 10px;
  padding-right: 5px;
  display: inline-block;
}

.Coin-arrowUp {
  -webkit-filter: invert(60%) sepia(47%) saturate(495%) hue-rotate(71deg) brightness(97%) contrast(87%);
          filter: invert(60%) sepia(47%) saturate(495%) hue-rotate(71deg) brightness(97%) contrast(87%);
}

.Coin-arrowDown {
  -webkit-filter: invert(37%) sepia(64%) saturate(875%) hue-rotate(320deg) brightness(99%) contrast(85%);
          filter: invert(37%) sepia(64%) saturate(875%) hue-rotate(320deg) brightness(99%) contrast(85%);
}

@media (max-width: 480px) {
  .Coin-card img {
    width: 60%;
    margin: auto;
  }
  .Coin-coinImg {
    height: 60px;
  }
}
.AccountInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 20px;
  padding: 15px 35px;
  background-color: #FFBF00;
  color: #2b2b2b;
  margin: auto;
  border-radius: 15px;
}

.AccountInfo-button {
  width: 150px;
  padding: 0.5em 0;
  margin: 10px auto;
}

.AccountInfo-gain {
  color: #5cb85c;
}

.AccountInfo-loss {
  color: #D9534F;
}

.AccountInfo-item {
  margin: 0.5rem;
}

.AccountInfo-welcome {
  font-size: 2rem;
}

.AddFund-input {
  width: 150px;
  border-radius: 15px;
  padding: 0.5rem;
}

.AddFund-buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AddFund-button {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fundsIcon {
  height: 25px;
}

@media (max-width: 480px) {
  .AccountInfo-welcome {
    font-size: 1.75rem;
  }
}
.BuySell-formCard {
  border-radius: 15px;
  -webkit-box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 500px;
  min-height: 400px;
  background-color: #2b2b2b;
  margin: auto;
  padding: 20px;
}

.BuySell-formInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.BuySell-backButtonContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.BuySell-input {
  width: 200px;
  border-radius: 15px;
  padding: 0.5rem;
}
.BuySell-input:focus {
  outline: none;
}

.BuySell-button {
  width: 90px;
  text-align: center;
}

.BuySell-placeholderImg {
  -webkit-filter: invert(100%) sepia(1%) saturate(6212%) hue-rotate(251deg) brightness(133%) contrast(90%);
          filter: invert(100%) sepia(1%) saturate(6212%) hue-rotate(251deg) brightness(133%) contrast(90%);
}