@use './variables' as *;

.AccountInfo {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 50px;
    background-color: $headingColour;
    color: $darkBackground;
    margin: auto;
    border-radius: 15px;
}

.AccountInfo-button {
    width: 150px;
    padding: 0.5em 0;
    margin: 10px auto;
}

.AccountInfo-gain {
    color: $colorSuccess;
}

.AccountInfo-loss {
    color: $colorDanger;
}

.AccountInfo-welcome {
    font-size: 2.5rem;
}

.AddFund-input {
    width: 150px;
    border-radius: 15px;
    padding: 0.5rem;
}

.AddFund-button {
    width: 70px;
}

@media (max-width: 480px) {
    .AccountInfo-welcome {
        font-size: 1.75rem;
    }
}