.AccountInfo {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    background-color: lavender;
    margin: auto;
    border-radius: 15px;
}

.AccountInfo-button{
    width: fit-content;
    padding: 0.5em 1rem;
    margin: auto;
    margin-bottom: 10px;
}