@use './variables' as *;

.AccountInfo {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 20px;
    padding: 15px 35px;
    background-color: $headingColour;
    color: $darkBackground;
    margin: auto;
    border-radius: 15px;
}

.AccountInfo-button {
    width: 150px;
    padding: 0.5em 0;
    margin: 10px auto;
}

.AccountInfo-gain {
    color: $colorSuccess;
}

.AccountInfo-loss {
    color: $colorDanger;
}

.AccountInfo-item {
    margin: 0.5rem;
}

.AccountInfo-welcome {
    font-size: 2rem;
}

.AddFund-input {
    width: 150px;
    border-radius: 15px;
    padding: 0.5rem;
}

.AddFund-buttonContainer {
    display: flex;
    justify-content: center;
}
.AddFund-button {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fundsIcon {
    height: 25px;
}
@media (max-width: 480px) {
    .AccountInfo-welcome {
        font-size: 1.75rem;
    }
}