// these top two hide scrollbars but allow scrolling functionality
html {
    scrollbar-width: none;
    /* Firefox */
}
::-webkit-scrollbar {
    display: none;
}

.button {
    border: none;
}

.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.App-body {
    height: 80vh;
    padding: 0;
    margin: 0;
    overflow: scroll;
    background: #1b1b1b;
    color: white;
    flex-grow: 2;
}

a {
    text-decoration: none;
}