@use './variables' as *;

.CoinList-container {
    overflow: hidden;
    display: flex;
    margin: 20px;
}

.Coin-card {
    padding: 20px 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Coin-coinName {
    font-size: 1.5rem;
    font-weight: 500;
}

.Coin-coinPrice {
    margin: 0;
    display: flex;
}

.Coin-card img {
    width: 100%;
}

.Coin-coinImg{
    height: 100px;
    width: 100px;
}

.Coin-timePeriod {
    width: 40%;
    text-align: left;
}

.Coin-na {
    padding-left: 10px;
}

.Coin-coinPriceAmt {
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

.Coin-arrow {
    height: 20px;
    width: 10px;
    padding-right: 5px;
    display: inline-block;
}

.Coin-arrowUp {
    filter: invert(60%) sepia(47%) saturate(495%) hue-rotate(71deg) brightness(97%) contrast(87%);
}

.Coin-arrowDown {
    filter: invert(37%) sepia(64%) saturate(875%) hue-rotate(320deg) brightness(99%) contrast(85%);
}


@media (max-width: 480px) {
    .Coin-card img {
        width: 60%;
        margin: auto;
    }

    .Coin-coinImg {
        height: 60px;
    }
}