@use './variables' as *;

.Footer {
    color: white;
    background: linear-gradient(180deg, rgba(27, 27, 27, 0.2) 0%, rgba(27, 27, 27, 1) 100%);
    height: 10vh;
    margin: 0;
    max-height: 100px;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    a {
        color: $headingColour;
        text-decoration: none;
    }
}

.Footer-secondLine {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoCoinGecko {
    height: 3rem;
}

@media (max-width: 720px) {
    .Footer {
        flex-direction: column;
    }
}

@media(max-width: 480px) {
    .logoCoinGecko {
        height: 1.5rem;
    }
}