@use './variables' as *;

.formCard {
    border-radius: 15px;
    box-shadow: 20px 20px rgba(0,0,0,0.3);
    width: 80%;
    max-width: 500px;
    min-height: 400px;
    height: 50vh;
    max-height: 500px;
    background-color: $darkBackground;
    margin: 50px auto;
    padding: 20px;
    
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.formInput {
    width: 80%;
}