@use './variables' as *;

.Navbar-header {
    background: linear-gradient(180deg, rgba(27, 27, 27, 1) 0%, rgba(27, 27, 27, 0.2) 100%);
    height: 10vh;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.Navbar-loginButton {
    width: fit-content;
    height: fit-content;
    color: $colorLight;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}